<h2><%= @user.username %></h2>

<br>
Public goals:

<% if @public_goals %>
  <% @public_goals.each do |goal| %>
    <%= link_to(goal.name, goal_url(goal)) %><br>
  <% end %>
<% end %>

<% if @private_goals && current_user == @user %>
<br><br>
Private Goals:

<% @private_goals.each do |goal| %>
  <%= link_to(goal.name, goal_url(goal)) %><br>
<% end %>

<% end %>

<br><br>

<%= @user.cheer_count %> cheers left