<h2>My Goals</h2>

<% if @created_goals %>

  <% @created_goals.each do |g| %>

  <table><tr>
  <td><%= link_to g.name, goal_url(g) %></td>
  <td><%= button_to "Remove Goal", goal_url(g), :method => :delete %></td>
  </tr></table>

  <% end %>

<% end %>