<h2><%= @goal.name %></h2>

<%= button_to "Edit Goal", edit_goal_url(@goal), :method => :get %>

<% if @cheers %>
<ul>
  <% @cheers.each do |ch| %>

  Cheer from <%= ch.cheerleader_id %> !

  <% end %>
</ul>
<% end %>
